*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100vw;
    height: 100lvh;
    border: 2px solid black;
    background-color: white;

}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.left{
    background-color: rgb(118, 219, 148);
    width: 20%;
    border: 2px solid black;
    padding: 22px;
    margin: 22px;
}
.right h1{
    width: 50%;
    border: 2px solid black;
    background-color: rgb(118, 219, 148);
}
.right p{
    width: 25%;
    margin: 5px 0px ;
    border: 2px solid black;
    background-color: rgb(187, 199, 191);
}
.right{
    width: 80%;
    margin: 22px;
}
.right ul{
    display: flex;
}
.right ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}
.right ul li a{
    padding: 5px 25px;
    margin: 0px 12px 0px 0px;
    text-decoration: none;
    border: 2px solid black;
    background-color: rgb(118, 219, 148);
}
main{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;

}
.left-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    margin: 0px 22px ;
    
}
.left-section .top-section{
    border: 3px solid black;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.left-section .bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.right-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0px 22px;
    
}
.right-section .top-section{
    border: 3px solid black;
    height: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: rgb(118, 219, 148);
    width: 100%;
    height: 10%;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
