*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    
}
.left{
    background-color: black;
    width: 20%;
    height: 100%;
    margin: 22px;
    
}
p{
    color: beige;
    text-align: center;
    padding: 22px 22px;
}
.right{
    background-color: black;
    width: 100%;
    height: 90%;
    margin: 22px 0px;
}
.right ul{
    display: flex;
    justify-content: space-between;
    
    
}
.right ul li{
    margin: 22px;
    list-style-type: none;
    
}
.right ul li a{
    background-color: rgb(255, 255, 255);
    padding: 22%;
    color: aqua;
    text-decoration: none;

}
main{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#section-left{
    width: 30%;
    height: 100%;
    padding: 3%;
    
}

.top-section-left{
    background-color: black;
    width: 100%;
    height: 75%;
    margin-bottom: 5%;
}
.bottom-section-left{
    background-color: black;
    width: 100%;
    height: 25%;
    margin-bottom: 2%; 
}

#section-right{
    width: 70%;
    height: 100%;
    padding: 3%;

}
.top-section-Right{
    background-color: black;
    width: 100%;
    height: 75%;
    margin-bottom: 2%;
}
.bottom-section-right{
    background-color: black;
    width: 100%;
    height: 25%;
    margin-bottom: 2%; 
}

footer{
    background-color: gray;
    width: 100%;
    height:25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.container1{
    background-color: black;
    width: 16%;
    height: 45%;
    margin: 2%;
}
.container2{
    background-color: black;
    width: 16%;
    height: 45%;
    margin: 2%;
}
.container3{
    background-color: black;
    width: 16%;
    height: 45%;
    margin: 2%;
}
.container4{
    background-color: black;
    width: 16%;
    height: 45%;
    margin: 2%;
}