*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:100%;
    height: 100vh;
    background-color:black;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}
.card{
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    height: 500px;
    background-color: blanchedalmond;
    
}
.image{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Profile-image{
    border-radius: 50% 25px;
    margin:25px;
}

.name{
    text-align: center;
}
.branch{
    text-align: center;
}
ul{
    list-style-type: none;
}
#btn{
    border: none;
    width: 22%;
    height: 33px;
    border-radius: 12px;
    font-size: 14px;
    background-color: rgb(48, 78, 78);
    text-align: center;
    color: white;
    


}